/* Timeline custom component */
.timeline-card {
  position: relative;
  margin-left: 16px; }

.timeline-card:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #fff;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  top: 16px;
  left: -12px;
  border: 5px solid;
  z-index: 2; }

.timeline-body {
  border-left: 2px solid #0d305e; }

.timeline-card-primary:before {
  border-color: var(--bs-primary); }

.timeline-card-info:before {
  border-color: var(--bs-info); }

.timeline-card-secondary:before {
  border-color: var(--bs-secondary); }

.timeline-card-success:before {
  border-color: var(--bs-teal); }

html {
  scroll-behavior: smooth; }

html, body {
  overflow-x: hidden; }

.container {
  max-width: 1140px; }

.site-title {
  font-size: 1.25rem;
  line-height: 2.5rem; }

.nav-link {
  padding: 0;
  font-size: 1rem;
  line-height: 2.5rem;
  color: inherit;
  opacity: 0.8; }

.header-social .nav-link {
  font-size: 1.25rem; }

.nav-link:hover,
.nav-link:focus {
  color: inherit;
  opacity: 1; }

.nav-item + .nav-item {
  margin-left: 1rem; }

.cover {
  height: 500px; }

.cover > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: auto; }

.progress-bar {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px; }

.text-small {
  font-size: 0.85rem; }

.text-teal {
  color: var(--bs-teal); }

footer a:not(.nav-link) {
  color: inherit;
  border-bottom: 1px dashed;
  text-decoration: none;
  cursor: pointer; }

@media (min-width: 48em) {
  .site-title {
    float: left; }
  .site-nav {
    float: right; } }

@media (max-width: 767px) {
  /* disable animations on mobile */
  [data-aos] {
    opacity: 1 !important;
    transform: translate(0) scale(1) !important; }
  .p-5 {
    padding: 2.5rem 2rem !important; }
  .portfolio-section .m-5 {
    margin: 2rem 0 1rem !important; }
  .portfolio-reverse {
    flex-direction: column-reverse; }
  .portfolio-reverse .text-end {
    text-align: start !important; } }

@media print {
  [data-aos] {
    opacity: 1 !important;
    transform: translate(0) scale(1) !important; }
  body.bg-light {
    background-color: #BDD5EA !important; }
  .container {
    width: auto;
    max-width: 100%;
    padding: 0; }
  .cover {
    height: 360px;
    margin-bottom: 1.5rem; }
  .cover > img {
    display: none; }
  .shadow-1-strong {
    box-shadow: none !important; }
  .resume-container > .my-5 {
    margin: 0 !important; }
  .my-5.p-5 {
    padding: 1.5rem 0 !important; }
  .about-section {
    padding: 0 !important; }
  .skills-section,
  .work-experience-section,
  .education-section,
  .portfolio-section,
  .reference-section,
  .contact-section {
    padding: 0 !important; }
  .page-break {
    padding-top: 5rem;
    page-break-before: always; } }

   /*------------------*/
 
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
 
  .neon{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
   
}
.neon:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.neon:nth-child(1){
    filter: hue-rotate(270deg);
}
.neon:nth-child(2){
    filter: hue-rotate(110deg);
}
.neon span{
    position: absolute;
    display: block;
}
.neon span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.neon span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
.neon span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
.neon span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}


.neon span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}

#contact{
  text-align:center;
}


.neon4{
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #ff9900;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
 
}
.neon4:hover{
  background: #ff9900;
  color: #050801;
  box-shadow: 0 0 5px #ff9900,
              0 0 25px #ff9900,
              0 0 50px #ff9900,
              0 0 200px #ff9900;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.neon4:nth-child(1){
  filter: hue-rotate(270deg);
}
.neon4:nth-child(2){
  filter: hue-rotate(110deg);
}
.neon4 span{
  position: absolute;
  display: block;
}
.neon4 span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#ff9900);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
.neon4 span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#ff9900);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
.neon4 span:nth-child(2){
top: -100%;
right: 0;
width: 2px;
height: 100%;
background: linear-gradient(180deg,transparent,#ff9900);
animation: animate2 1s linear infinite;
animation-delay: 0.25s;
}
@keyframes animate2{
0%{
    top: -100%;
}
50%,100%{
    top: 100%;
}
}
.neon4 span:nth-child(3){
bottom: 0;
right: 0;
width: 100%;
height: 2px;
background: linear-gradient(270deg,transparent,#ff9900);
animation: animate3 1s linear infinite;
animation-delay: 0.50s;
}
@keyframes animate3{
0%{
    right: -100%;
}
50%,100%{
    right: 100%;
}
}


.neon4 span:nth-child(4){
bottom: -100%;
left: 0;
width: 2px;
height: 100%;
background: linear-gradient(360deg,transparent,#ff9900);
animation: animate4 1s linear infinite;
animation-delay: 0.75s;
}
@keyframes animate4{
0%{
    bottom: -100%;
}
50%,100%{
    bottom: 100%;
}
}

.neon2{
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #5eff00;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
 
}
.neon2:hover{
  background: #5eff00;
  color: #050801;
  box-shadow: 0 0 5px #5eff00,
              0 0 25px #5eff00,
              0 0 50px #5eff00,
              0 0 200px #5eff00;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.neon2:nth-child(1){
  filter: hue-rotate(270deg);
}
.neon2:nth-child(2){
  filter: hue-rotate(110deg);
}
.neon2 span{
  position: absolute;
  display: block;
}
.neon2 span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#5eff00);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
.neon2 span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#5eff00);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
.neon2 span:nth-child(2){
top: -100%;
right: 0;
width: 2px;
height: 100%;
background: linear-gradient(180deg,transparent,#5eff00);
animation: animate2 1s linear infinite;
animation-delay: 0.25s;
}
@keyframes animate2{
0%{
    top: -100%;
}
50%,100%{
    top: 100%;
}
}
.neon2 span:nth-child(3){
bottom: 0;
right: 0;
width: 100%;
height: 2px;
background: linear-gradient(270deg,transparent,#5eff00);
animation: animate3 1s linear infinite;
animation-delay: 0.50s;
}
@keyframes animate3{
0%{
    right: -100%;
}
50%,100%{
    right: 100%;
}
}


.neon2 span:nth-child(4){
bottom: -100%;
left: 0;
width: 2px;
height: 100%;
background: linear-gradient(360deg,transparent,#5eff00);
animation: animate4 1s linear infinite;
animation-delay: 0.75s;
}
@keyframes animate4{
0%{
    bottom: -100%;
}
50%,100%{
    bottom: 100%;
}
}
